{% extends '::base.html.twig' %}

{% block body %}
<div class="bonding">
{% if form is defined %}
    {{ form(form) }}
{% else %}
    <h2>Court District: {{ court.district }}</h2>
    <h2>Bond Amount: {{ court.amount }}</h2>
    <a href="{{ url('court_demo') }}"><< Back</a>
{% endif %}
</div>
{% endblock body %}
